/* main page */

.main-page-header__text {
  padding: 50px 0;
}



/* order list */

.order-list {
  list-style: none;
  margin-bottom: 0;
}

.order-list-item {
  position: relative;
}

.order-list-item__heading {
  padding: 5px;
}

.order-list-item__price {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 1.3em;
  color: #009688;
}

.order-list-item__title {
  color: #2196F3;
  font-size: 1.5em;
}

.order-list-item__title-wrap {
  padding: 10px 0;
}

.order-details {
  padding: 10px 0;

  &__customer {
    color: #6d7f80;
    padding-right: 5px;
    &-name {
      padding-left: 5px;
    }
  }

  &__date {
    color: #6d7f80;
  }
}

.order-edit-button {
  padding: 5px 15px 0;

  &__link {
    margin-left: 5px;
  }
}

/* pagination */

.order-list-pagination {
  border: 1px solid #ddd;
  background-color: #F7F7F7;
}

.order-list-pagination__wrap {
  padding: 0 20px;
}

/* tags list */

.tags-list {
  list-style: none;
  padding-left: 0;
}

.tags-list__item {
  display: inline-block;
  padding: 0 5px 0 5px;
  margin-right: 5px;
}

.tags-list__item {
  border: 1px solid #8BC34A;
  border-radius: 20px;
}



/* categories list */
.categories-list__toggle, .categories-list__toggle-all {
  display: none;
}

.categories-list__toggle + label:before, .categories-list__toggle-all + label:before {
  content: "\00a0";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #5b5b5b;
  border-radius: 13%;
  vertical-align: top;
  font-size: 1.2em;
  margin-right: 0.3em;
  cursor: pointer;
}

.categories-list__toggle:checked + label:before, .categories-list__toggle-all:checked + label:before {
  background: #5DC385;
  color: white;
  content: "\2713";
  text-align: center;
}

.categories-list__toggle:checked + label:after, .categories-list__toggle-all:checked + label:after {
  font-weight: bold;
}

.categories-list--nested {
  margin: 0.5em 1em;
}

.categories-list--collapsed {
  display: none;
}

.categories-list__collapse-toggle--collapsed {
  border-bottom: 1px dotted #7ee7ff;
}

.categories-list__collapse-toggle--open {
  color: gray;
}

/* order page */

.order-list-item-header {
  padding: 15px 10px;
}

.order-list-item__description {
  margin: 0;
  padding: 15px;
  word-wrap: break-word;
  white-space: pre;
}

.order-attachments-list__wrap {
  padding: 15px;
}

.tag-suggest {
  &__container {
    display: inline-block;
  }

  &__suggestions-container {
    position: absolute;
    z-index: 1;
  }

  &__suggestions {
    width: 178px;
  }

  &__suggestion--focused {
    background: #b0b0b0;
  }
}

/* Order chat */

.order-chat {
  &__messages {
    max-height: 400px;
    min-height: 400px;
    overflow: auto;

    &--list {
      margin: 10px;
    }
  }

  &__empty-alert {
    padding: 190px;
    text-align: center;
  }

  &__message-field {
    border: 1px solid #788d94;
    outline: none;
    padding: 0.5em;
    width: 720px;
    display: inline-block;
  }

  &__message-time {
    color: #5b5b5b;
  }

  &__message {
    padding: 5px;

    &--new {
      background-color: #7ee7ff;
    }

    &-text {
      white-space: pre-wrap;
    }

    &-time {
      color: #b3b3b3;
      font-size: 0.9em;
    }
  }
}
